<!--<h3>{{todo?.title}}</h3>-->
<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Title</th>
    <th scope="col">Create At</th>
    <th scope="col">Status</th>
    <th scope="col">Done At</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">{{todo?.id}}</th>
    <td>{{todo?.title}}</td>
    <td>{{todo?.createAt}}</td>
    <td>{{todo?.done == true ? 'Done' : 'Pending'}}</td>
    <td>{{todo?.doneAt}}</td>
    <td><a class="btn btn-sm btn-info" [routerLink]="['/todo',todo?.id]">View</a>
    </td>

  </tr>

  </tbody>
</table>
