<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Todo List</h5>
      <div class="card-text">  <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of tasks">{{item}}
        <button class="btn btn-danger btn-sm" (click)="removeTask(item)"> remove</button></li>

    </ul></div>
         </div>
  </div>


<hr/>
 {{form.value |json}}
  <form [formGroup]="form" (ngSubmit)="createTask()">
    <div class="mb-3">
      <label for="task" class="form-label">Task</label>
      <input formControlName="task" type="text" class="form-control" id="task" placeholder="enter your task">
    </div>
    <button type="submit" class="btn btn-primary"> Save</button>
  </form>
</div>
