<div class="container">
  <div class="row">


    <div class="card cols-md-6" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">Todo List</h5>
        <div class="card-text">
          <ul class="list-group">
            <li *ngFor="let item of todoService.currentTodos" class="list-group-item">
              <app-todo [todo]="item"/>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <div class="card  cols-md-6" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">Done List</h5>
        <div class="card-text">
          <ul class="list-group">
            <li *ngFor="let item of todoService.doneTodos" class="list-group-item"> <app-done-todo [todo]="item"/>
            </li>

          </ul>
        </div>
      </div>
    </div>

  </div>
  <hr/>

  <!-- {{form.value |json}}-->
  <form (ngSubmit)="createTask()" [formGroup]="form">
    <div class="mb-3">
      <label class="form-label" for="task">Task</label>
      <input class="form-control" formControlName="task" id="task" placeholder="enter your task" type="text">
    </div>
    <button class="btn btn-primary" type="submit"> Save</button>
  </form>
</div>
